@charset "utf-8";
@import url(fonts.css);


/*-------------------------------------------------------------------
    파일정의: Common css
    순서:    Header > table > list > form ... > Footer 
-------------------------------------------------------------------*/
:root { 
	--main_color:#222222;
	--white_color:#ffffff;
    --gray_color: #999;
    --orange: #ff9c00;
    --green: #84ad10;

	--font-size-xsm: clamp(8px, 0.45vw + 6.86px, 14px);
	--font-size-sm: clamp(9px, 0.45vw + 6.86px, 16px);
	--font-size-base: clamp(10px, 0.59vw + 8.52px, 18px);
    --font-size-menu: clamp(10.5px, 0.77vw + 10.57px, 19px);
	/* --font-size-md: clamp(11px, 0.77vw + 10.57px, 20px);
	--font-size-extramd: clamp(12.5px, 0.77vw + 10.57px, 24px);
	--font-size-lg: clamp(15.63px, 1vw + 13.12px, 30px);
	--font-size-xl: clamp(19.53px, 1.3vw + 16.27px, 36px);
	--font-size-xxl: clamp(24.41px, 1.69vw + 20.18px, 48px);
	--font-size-xxxl: clamp(30.52px, 2.2vw + 25.03px, 60px); */
    --header_color: #000000;
}
.container {max-width: 1280px; margin-left: auto; margin-right: auto;}
.flex_sb {display: flex; justify-content: space-between;}
.bo {border: 1px solid red;}

/* header start */
.head {width: 100%; overflow: hidden; box-sizing: border-box; z-index: 10; border-bottom: 1px solid #dddddd; min-height: 101px; background-color: #ffffff; display: flex; position: fixed; }
.header_inn {display: flex; color: var(--white); transition: 0.3s; min-height: 100px; align-items: start; z-index: 100; left: 0; right: 0; position: relative; width: 100%;}
.logo {position: absolute; left: 100px; top: 16px;}
.logo img {width: 100%; height: 100%;}
.gnb {position: relative; top: 0; width: 100%; height: max-content; }
.gnb > ul {display: flex; color: var(--header_color); position: relative; top: 0px; left: 0; height: auto; margin-top: 42px;}
.gnb > ul > li {display: inline-block; text-align: center; width: auto; font-size: var(--font-size-menu); font-weight: 500; width: 256px; text-align: center;}  
.gnb > ul > li::before {display: none;}
.gnb > ul > li > a {display: block; position: relative; width: 100%; color: inherit; letter-spacing: -0.025em; }
.first_deep {display: none; flex-direction: column; text-align: center; width: min-content; flex-wrap: wrap; min-width: 100%; margin: 20px 0; transition: all 0.3s;}
.first_deep > li {line-height: normal;}
.first_deep > li::before {display: none;}
.first_deep > li > a {font-size: var(--font-size-sm); display: inline-block; color: var(--main_color);}
.first_deep > li > a:hover {color: var(--green); transition: all 0.2s;}
.gnb > ul > li > a:after {content: ""; position: absolute; width: 0; left: 50%; height: 2px; background-color: var(--green); transition: all 0.5s; bottom: -10px;}
.gnb > ul > li:hover a::after {left: 0; width: 100%;}
.gnb:hover .first_deep {display: flex;}
.sticky { position: fixed; width: 100%; transition: all 0.1s; top: 0!important;}
/* header end */

/* aside.floating start */
.floating {width: 110px; height: 390px; border-radius: 55px; box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.3); background-color: var(--white_color); position: fixed; top: 415px; right: 60px; z-index: 100;}
.floating_inn {display: flex; flex-direction: column; justify-content: center; width: 100%; height: 100%; padding-top:4px;}
.float_item {border-bottom: 1px solid #dddddd; display: flex; flex-direction: column; text-align: center; align-items: center; height: 120px; justify-content: center; gap: 10px; color: var(--main_color);}
.float_item:first-child img{width: 38px; height: 47px; padding-bottom: 2px;}
.float_item:first-child {padding-top: 7px;}
.float_item:last-child {border-bottom: none; padding-bottom: 13px; gap: 12px;}
.float_item img {width: 43px; height: 43px;}
.floating span {font-size: var(--font-size-sm); font-weight: 500; letter-spacing: -0.025em;}
/* aside.floating end */

/* footer start */
.footer {border-top: 1px solid #dddddd; margin-top: 140px; min-height: 180px;}
.footer_inn {display: flex; gap: 63px; height: max-content; padding-top:34px;}
.footer_inn a {padding-top: 5px;}
.footer_info p {font-size: var(--font-size-xsm); font-weight: 400; color: var(--gray_color); letter-spacing: -0.025em; line-height: 24px;}
/* footer end */