@import url(fonts.css);
/* 리셋 */
* {
	margin: 0;
	padding: 0;
}
*, *:before, *:after {
	box-sizing: border-box;
}
html {
	font-size: 10px;
}
body {
	font-family: 'Noto Sans CJ Kkr', sans-serif;
	background: #fff;
	color: #222222;
	font-size: 13px;
	letter-spacing: -0.025em;
	line-height: 1;
	font-weight: 300;
}
li {
	list-style: none;
}
a{ 
	-webkit-tap-highlight-color : rgba(0, 0, 0, 0);
}
a:link, a:visited {
	text-decoration: none;
}
a:focus {
	outline: none;
}
img {
	vertical-align: middle;
	border: 0;
}
fieldset {
	border: 0 none;
}
input[type='text'],
input[type='password'],
input[type='submit'],
input[type='button']{
	-webkit-appearance: none;
	-webkit-border-radius: 0;
   	-moz-appearance: none;
	
}
input {
	letter-spacing: -0.08rem;
	border: 0;
}
input[type='submit'] {
	cursor: pointer;
}
input:focus, select:focus, textarea:focus, button:focus {
	outline: none;
	border: none;
}
select {
	font-family: 'NSKR', sans-serif;
	border-radius: 0;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	cursor: pointer;
	letter-spacing: -0.08rem;
}
select::-ms-expand {
	display: none;
}
textarea {
	font-family: 'NSKR', sans-serif;
	vertical-align: middle;
	letter-spacing: -0.08rem;
	resize: none;
	color: #303030;
}
button {
	cursor: pointer;
	border: 0 none;
	font-family: "MSR", "NSKR";
	letter-spacing: -0.08rem;
}
h1, h2, h3, h4, h5, h6, th {
	font-weight: normal;
}
address, i {
	font-style: normal;
}
table {
	border-collapse: collapse;
}
strong {
	font-weight: bold;
}