@charset "utf-8";
@import url(fonts.css);

/*-------------------------------------------------------------------
    파일정의: Pages contents css
    순서:    Page name > page name > page name ...
-------------------------------------------------------------------*/
:root { 
	--main_color:#222222;
	--white_color:#ffffff;
    --gray_color: #999;
    --orange: #ff9c00;
    --green: #84ad10;
        
    --font-size-sm: clamp(8px, 0.38vw + 6.48px, 13.33px);
    --font-size-extrasm: clamp(9px, 0.38vw + 6.48px, 16px);
    --font-size-base: clamp(10px, 0.57vw + 7.71px, 18px);
    --font-size-extrabase: clamp(11px, 0.57vw + 7.71px, 20px);
    --font-size-md: clamp(12.5px, 0.84vw + 9.13px, 22px);
    --font-size-lg: clamp(16px, 1.23vw + 10.72px, 30px);
    --font-size-xl: clamp(18px, 1.77vw + 12.46px, 40px);
    --font-size-extraxl: clamp(22px, 1.77vw + 12.46px, 50px);
    --font-size-xxl: clamp(24.41px, 2.53vw + 14.31px, 55px);
    --font-size-xxxl: clamp(30.52px, 3.59vw + 16.18px, 80.71px);
}


/* common */
.head {position: fixed; top: 0;}
.sub_banner {min-height: 500px; position: relative; width: 100%; background-color: #22222280; margin-top: 101px;}
.sub_banner img {width: 100%; height: 100%; position: absolute; z-index: -1;}
.sub_banner_text {display: flex; align-items: center; flex-direction: column; justify-content: center; min-height: 495px;}  
.sub_banner h1 {font-size: var(--font-size-xxl); color: var(--white_color); font-weight: bold; text-align: center; letter-spacing: -0.05em; margin-bottom: 29px; line-height: 66px;}
.sub_banner h3 {font-size: var(--font-size-md); color: var(--white_color); font-weight: 400; text-align: center; letter-spacing: -0.05em; line-height: 30px;}

.sub_menu {height: 72px; border-bottom: 2px solid #efefef; margin-bottom: 140px;}
.sub_menu ul {display: flex; align-items: center; justify-content: center; height: 100%;}
.sub_menu li {max-width: 256px; border-right: 1px solid #dddddd; width: 100%; text-align: center; padding-top: 12px; padding-bottom: 12px;}
.sub_menu a {font-size: 19px; font-weight: 400; letter-spacing: -0.025em; color: var(--gray_color); line-height: 1;}
a.on {color: var(--main_color); font-weight: bold; }

h3 {font-size: var(--font-size-xl); font-weight: bold; letter-spacing: -0.05em;}
.green_ttl {font-size: var(--font-size-md); font-weight: bold; letter-spacing: -0.025em; color: var(--green);}
.green_color {color: var(--green);}
.base {font-size: var(--font-size-base); font-weight: 400; letter-spacing: -0.025em;}
/* Pages contents css */

/* 01_01_greetings_start */
.greetings {display: flex; gap: 110px; justify-content: start; margin-top: -2px; height: max-content;}
.greetings_txt {display: flex; flex-direction: column; letter-spacing: -0.025em; flex: 1 0 auto; padding-top: 31px; justify-content: space-between;} 
.greetings_txt {max-width: 456px; display: flex; flex-direction: column;}
.greeting_ttl {font-size: var(--font-size-lg); color:var(--green); line-height: 44px; }
.greeting_desc {font-size: var(--font-size-base); color:var(--main_color); line-height: 28px; padding-top: 27px; font-weight: 400; }
.greeting_date {font-size: var(--font-size-base); color:var(--main_color); line-height: 28px; text-align: right; font-weight: 400; padding-bottom: 5px; }
.greeting_sign {font-size: var(--font-size-base); color:var(--main_color); line-height: 28px; text-align: right; font-weight: 400; line-height: 1; justify-items: end; }
/* 01_01_greetings_end */

/* 01_02_vision_start */
.vision_cont h2 {font-size: var(--font-size-xl); letter-spacing: -0.025em; font-weight: bold;}
.mission {display: flex; flex-direction: column; justify-content: center; margin-top: -4px; }
.mission > img {width: 703px; align-self: center; margin-top: 4px;}
.happy {margin-top: 56px;}
.spell {display: flex; flex-direction: column; align-items: center;}
.spell img + p {font-size: var(--font-size-lg); color: var(--green); font-weight: bold; letter-spacing: -0.025em; padding-top: 17px;}
.spell p:last-of-type {font-size: var(--font-size-md); letter-spacing: -0.05em; font-weight: 400; padding-top: 16px;}

.vision {margin-top: 196px;}
.circle_diagram {position: relative;}
.circle_diagram > img {position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); margin-top: 40px;}
.circle {width: 300px; height: auto; aspect-ratio: 1/1; border-radius: 50%; display: flex; align-items: center; justify-content: center; flex-direction: column;}
.circle1 {background-color: #9dbd40; margin: 0 auto;}
.circle2 {background-color: #718a44;}
.circle3 {background-color: #ffc466;}
.circle1 h4 {color:#84ad10 ;}
.circle2 h4 {color:#4d6d15 ;}
.circle3 h4 {color:#ff9c00 ;}
.circle h4 {font-size: var(--font-size-xl); font-weight: 800; letter-spacing: -0.025em; text-align: center; padding-bottom: 17px;}
.circle p {font-size: var(--font-size-md); font-weight: 500; letter-spacing: -0.025em; text-align: center; color: var(--white_color); line-height: 30px;}
.bottom_circle {display: flex; justify-content: center; gap: 51px;}

.values {margin-top: 196px; padding-bottom: 59px;}
.values > div {display: flex; gap: 95px; margin-top: 59px;}
.values_card {flex: 1; border: 2px solid #bed480; display: flex; flex-direction: column; height: 397px; padding: 46px 0; justify-content: space-between;}
.values_card > span {font-size: 50px; color: var(--green); font-weight: bold; letter-spacing: -0.025em; text-align: center; line-height: 1.25;} 
.img_wrap {align-self: center;}
/* 01_02_vision_end */

/* 02_01_facility_start */
.facility_ttl {margin-top: 140px;}
.facility_ttl h2 {font-size: var(--font-size-xl); color: var(--white_color); background-color: #4d6d15; font-weight: bold; letter-spacing: -0.05em; line-height: 70px; display: block; max-width: 625px; text-align: center; }
.facility_ttl p {font-size: var(--font-size-base); font-weight: 400; letter-spacing: -0.025em; line-height: 26px; margin-top: 36px;}
.facility_gallery {margin-top: -5px; padding-bottom: 59px;}
.facility_item {margin-top: 139px;}
.facility_item h4 {font-size: var(--font-size-md); font-weight: bold; letter-spacing: -0.025em; color: var(--green); margin-top: 37px;}
.facility_item h4:last-of-type {margin-top: 98px;}
.facility_item p {font-size: var(--font-size-base); font-weight: 400; letter-spacing: -0.025em; line-height: 26px; margin-top: 15px;}
.facility_grid {display: grid; gap: 30px; grid-template-columns: repeat(4, 1fr); grid-template-rows: repeat(2, 400px); }
.facility_grid img:nth-child(1) {grid-column: 1 / span 2;}
.facility_grid img:nth-child(2) {grid-column: 3 / span 2;}
.facility_grid img:nth-child(3) {grid-column: 1 / span 2;}
.facility_grid img:nth-child(4) {grid-column: 3 / span 1;}
.facility_grid img:nth-child(5) {grid-column: 4 / span 1;}
.facility_grid, .facility_flex {margin-top: 26px;}
.facility_flex {display: flex; flex-wrap: wrap; gap: 30px; overflow: hidden;}
.facility_flex > img {height: 400px;}
.facility_item:nth-child(2) h3 {margin-top: -2px; padding-bottom: 9px;}
.facility_item:nth-child(3) .facility_flex {margin-top: 27px;}
.facility_item:nth-child(4) h3 {line-height: 41px; padding-bottom: 8px;}
.facility_item:nth-child(5) h3 {line-height: 40px; padding-bottom: 8px; margin-top: -1px;}
.facility_item:nth-child(6) h3 {line-height: 40px; padding-bottom: 9px; margin-top: -1px;}
.facility_item:nth-child(7) h3 {line-height: 40px; padding-bottom: 13px; margin-top: -1px;}
.facility_item:nth-child(n+8) h3 {line-height: 40px; padding-bottom: 14px; margin-top: -2px;}
/* 02_01_facility_end */

/* 03_01_target_start */
.target ul li::before {content: url(/assets/imgs/sub/disc_sq.png); position: absolute; left: 0; top: -3px;}
.target li {font-size: var(--font-size-base); line-height: 37px; font-weight: 400; position: relative;}
.eligiblity {margin-top: -4px;}
.eligiblity ul {margin-top: 49px;}
.eligiblity ul li {line-height: 36px; padding-left: 30px;}
.eligiblity ul li:nth-child(2)::before {top: -2px;}
.procedure {margin-top: 188px;}
.flex_list {display: flex; margin-top: 83px;}
.flex_item {display: flex; flex-direction: column; align-items: center; position: relative;}
.procedure .flex_item > .img_wrap {height: 190px; margin-bottom: 20px;}
.procedure .flex_item img {margin-top: auto;}
.procedure .flex_item:nth-child(1) {width: 256px;}
.procedure .flex_item:nth-child(4) {width: 256px;}
.procedure .flex_item:nth-child(1) span::before {width: 0;}
.procedure .flex_item:nth-child(4) span::after {width: 0;}
.procedure .flex_item:nth-child(2) {width: 384px;}
.procedure .flex_item:nth-child(3) {width: 384px;}
.procedure .flex_item span {color: var(--white_color); background-color: var(--green); line-height: 34px; padding: 0 20px 2px 20px; border-radius: 18px; margin-bottom: 12px;}
.procedure .flex_item:nth-child(n+2) p {margin-top: -1px;}
.procedure .flex_item span::after {content: ""; height: 5px; background-color: var(--green); position: absolute; width: 50%; margin-top: 18px;}
.procedure .flex_item span::before {content: ""; height: 5px; background-color: var(--green); position: absolute; width: 50%; margin-top: 18px; left: 0; z-index: -2;}
.procedure .flex_item p {color: var(--gray_color); line-height: 26px; text-align: center; }
.prepare {margin-top: 194px;}
.pre_inn {display: flex; margin-top: 58px;}
.pre_inn > div {flex: 1;}
.pre_list_item li {padding-left: 25px; line-height: 36px;}
.pre_list_item ul {margin-top: 20px;}
.pre_list_item:nth-child(2) > p {margin-top: 51px; margin-bottom: -6px;}
.pre_list_item:nth-child(2) li {line-height: 48px; }
.pre_img_wrap {position: relative;}
.pre_img_inn {position: absolute; bottom: 0; left: 0;}
/* 03_01_target_end */

/* 03_02_fee_start */
.fee {margin-top: -4px; padding-bottom: 58px;}
.circle_icon {display: flex; margin-top: 2px;}
.fee_inn > h4 {color: #4d6d15; font-size: var(--font-size-lg); font-weight: bold; letter-spacing: -0.025em; line-height: 108px; text-align: center;}
.circle_fee{flex: 1; text-align: center; height: auto; aspect-ratio: 1/1; border-radius: 50%; align-items: center; display: flex; flex-direction: column; position: relative;}
.circle_fee::before {content: url(/assets/imgs/sub/fee_circle.png); position: absolute; top: 50%; left: 0; transform: translate(-13px, -50%);}
.circle_fee:nth-child(odd) {background: url(/assets/imgs/sub/fee1_1.png) center center/cover; }
.circle_fee:nth-child(even) {background: url(/assets/imgs/sub/fee1_2.png) center center/cover; }
.circle_fee p {line-height: 26px; padding-top: 20px;}
.circle_fee p span {color: var(--gray_color);}
.circle_fee .img_wrap {position: relative; height: 50%; flex-grow: 0; width: 100%; top: 0;}
.circle_fee img {position: absolute; bottom: 3px; left: 50%; transform: translateX(-50%);}
/* 03_02_fee_end */

/* 03_03_consulation_start */
.consultion {margin-top: -4px;padding-bottom: 61px;}
.form_desc {font-size: 16px; font-weight: 400; letter-spacing: -0.025em; line-height: 24px;}
.consultion .b_btn {background-color: var(--green); width: 400px; height: 60px; border: 1px solid var(--green); font-size: var(--font-size-extrabase);}
.consultion .btn_wrap {display: flex; justify-content: center; margin-top: 109px;}
.btn_wrap .b_btn span {color: var(--white_color); font-weight: 600; letter-spacing: 0;}
.consule_form {border-top: 1px solid #222222; margin-top: 39px; margin-bottom: 10px;}
.consule_form > div {border-bottom: 1px solid #dddddd; display: flex; align-items: center; gap: 16px;}
.consule_form > div > label {background-color: #edf3db; width: 300px; display: block; height: 100%; text-align: center; line-height: 80px;}
.consule_form > div > input {border: 1px solid #dddddd; height: 47px; padding: 10px 0px 10px 12px; width: 365px;}
.consule_form > div {height: 80px;}
.consule_form > div:nth-child(3) {height: 160px;}
.consule_form > div:nth-child(3) > label {line-height: 160px;}
.consule_form > div:nth-child(3) > input {height: 126px; margin: -1px 16px 0 0; flex: 1;}
.consultion .chk_wrap {margin-top: 30px; display: flex; align-items: center; position: relative;}
.chck_wrp {display: block; position: relative; padding-left: 69px; cursor: pointer; font-size: 16px; font-weight: 400; letter-spacing: -0.025em; margin-top: 38px; border-bottom: 1px solid #dddddd; padding-bottom: 18px;}
.chck_wrp input {position: absolute;opacity: 0; cursor: pointer; height: 0; width: 0;}
.checkmark {position: absolute; top: -1px; left: 43px; height: 20px; width: 20px; background-color: #fff; border: 1px solid #999999; border-radius: 2px;}
.chck_wrp input:checked ~ .checkmark {background-color: var(--green);}
.checkmark:after {content: "";position: absolute;display: none;}  
.chck_wrp input:checked ~ .checkmark:after {display: block;}
.chck_wrp .checkmark:after {left: 7px; top: 3px; width: 5px; height: 10px; border: solid white; border-width: 0 3px 3px 0; -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg); transform: rotate(45deg);}
/* 03_03_consulation_end */

/* 03_05_insurance_start */
.insure_ttl {display: flex; justify-content: space-between;}
.insure_ttl h3,.insurance_h3 {background-color: #4d6d15; color: var(--white_color); display: inline-flex; gap: 15px; padding-right: 13px; padding: 16px 13px 16px 15px; }
.insure_ttl h3::before {content: url(/assets/imgs/sub/insurance1.png);}
.insure_ttl p {color: var(--white_color); background-color: var(--green); height: 45px; display: inline-flex; align-items: center; gap: 20px; padding: 0 34px 0 43px; align-self: flex-end; margin-right: 27px;}  
.insure_ttl p::after {content: url(/assets/imgs/sub/arr.png);}
.insurance li {position: relative;}
.insurance li::before {content: url(/assets/imgs/sub/disc_sq.png); position: absolute; left: 0; top: -3px;}
.elderly_insurance li span {font-weight: bold;}
.insurance .flex_item span {color: #4d6d15; font-size: var(--font-size-lg); font-weight: bold; letter-spacing: -0.05em;}
.insurance .flex_item span + p {font-size: var(--font-size-md); font-weight: bold; letter-spacing: -0.05em;}
.insurance .flex_item .base {font-weight: 300;}
.insurance_h3::before {content: url(/assets/imgs/sub/insurance2.png);}
.insure_list_criteria p {font-size: var(--font-size-lg); font-weight: bold; letter-spacing: -0.05em; }
.insure_list_criteria li span {font-size: var(--font-size-base); font-weight: 400; color: var(--green);}
.table_wrap {border-top: 1px solid #222222; text-align: center; width: 100%;}
table {width: 100%;}
thead {background-color: #edf3db; height: 81px;}
tbody tr {height: 81px;}
tbody tr td:nth-child(2) {text-align: left; padding-left: 101px;}
.benefit tbody tr td:nth-child(2) {text-align: left; padding-left: 40px;}
.benefit tbody tr {height: 101px;}
tr {border-bottom: 1px solid #dddddd;}
colgroup col {border-right: 1px solid #dddddd;}
colgroup col:last-child {border: 0;}
/* 03_05_insurance_end */
  


