@charset "utf-8";
@import url(fonts.css);

/*-------------------------------------------------------------------
    파일정의: Pages contents css
    순서:    Page name > page name > page name ...
-------------------------------------------------------------------*/
:root { 
	--main_color:#222222;
	--white_color:#ffffff;
    --gray_color: #999;
    --orange: #ff9c00;
    --green: #84ad10;
        
    --font-size-sm: clamp(8px, 0.38vw + 6.48px, 13.33px);
    --font-size-extrasm: clamp(9px, 0.48vw + 7px, 16px);
    --font-size-base: clamp(10px, 0.57vw + 7.71px, 18px);
    --font-size-extrabase: clamp(11px, 0.7vw + 8.41px, 20px);
    --font-size-md: clamp(12.5px, 0.84vw + 9.13px, 22px);
    --font-size-lg: clamp(16px, 1.23vw + 10.72px, 30px);
    --font-size-xl: clamp(18px, 1.77vw + 12.46px, 40px);
    --font-size-extraxl: clamp(22px, 2vw + 13.46px, 50px);
    --font-size-xxl: clamp(24.41px, 2.53vw + 14.31px, 55px);
    --font-size-xxxl: clamp(30.52px, 3.59vw + 16.18px, 80.71px);
}


/* common */
.head {position: fixed; top: 0;}
.sub_banner {min-height: 500px; position: relative; width: 100%; background-color: #22222280; margin-top: 101px;}
.sub_banner img {width: 100%; height: 100%; position: absolute; z-index: -1;}
.sub_banner_text {display: flex; align-items: center; flex-direction: column; justify-content: center; min-height: 495px;}  
.sub_banner h1 {font-size: var(--font-size-xxl); color: var(--white_color); font-weight: bold; text-align: center; letter-spacing: -0.05em; margin-bottom: 29px; line-height: 66px;}
.sub_banner h3 {font-size: var(--font-size-md); color: var(--white_color); font-weight: 400; text-align: center; letter-spacing: -0.05em; line-height: 30px;}

.sub_menu {height: 72px; border-bottom: 2px solid #efefef; margin-bottom: 140px;}
.sub_menu ul {display: flex; align-items: center; justify-content: center; height: 100%;}
.sub_menu li {max-width: 256px; border-right: 1px solid #dddddd; width: 100%; text-align: center; padding-top: 12px; padding-bottom: 12px;}
.sub_menu li:last-child {border: 0;}
.sub_menu li::before {display: none;}
.sub_menu a {font-size: 19px; font-weight: 400; letter-spacing: -0.025em; color: var(--gray_color); line-height: 1;}
a.on {color: var(--main_color); font-weight: bold; }
a.active_page {background-color: var(--green); color: var(--white_color); border-radius: 50%; }

h3 {font-size: var(--font-size-xl); font-weight: bold; letter-spacing: -0.05em;}
h2 {font-size: var(--font-size-extraxl); font-weight: bold; letter-spacing: -0.05em;}
.green_ttl {font-size: var(--font-size-md); font-weight: bold; letter-spacing: -0.025em; color: var(--green);}
.green_color {color: var(--green);}
.base {font-size: var(--font-size-base); font-weight: 400; letter-spacing: -0.025em;}

.paging_wrap {margin-top: 50px;}
.paging_conts {display: flex; align-items: center; justify-content: center; gap: 6px;}
.paging_start::after {content: url(/assets/imgs/sub/page1.png);}
.paging_prev::after {content: url(/assets/imgs/sub/page2.png); width: 16px; display: block;}
.paging_next::after {content: url(/assets/imgs/sub/page3.png); width: 16px; display: flex; justify-content: end;}
.paging_end::after {content: url(/assets/imgs/sub/page4.png);}
.paging_number {width: 33px; height: 33px; display: flex; align-items: center; justify-content: center; font-size: 18px; font-weight: 500; color: #bbbbbb; }

.b_btn {background-color: var(--green); color: var(--white_color); font-weight: 500; width: 120px; height: 45px; font-size: var(--font-size-base);}
.b_btn.outline {background-color: white; border: 1px solid #bbbbbb; color: var(--gray_color);}
/* Pages contents css */

/* 01_01_greetings_start */
.greetings {display: flex; gap: 110px; justify-content: start; margin-top: -2px; height: max-content;}
.greetings_txt {display: flex; flex-direction: column; letter-spacing: -0.025em; flex: 1 0 auto; padding-top: 31px; justify-content: space-between;} 
.greetings_txt {max-width: 456px; display: flex; flex-direction: column;}
.greeting_ttl {font-size: var(--font-size-lg); color:var(--green); line-height: 44px; }
.greeting_desc {font-size: var(--font-size-base); color:var(--main_color); line-height: 28px; padding-top: 27px; font-weight: 400; }
.greeting_date {font-size: var(--font-size-base); color:var(--main_color); line-height: 28px; text-align: right; font-weight: 400; padding-bottom: 5px; }
.greeting_sign {font-size: var(--font-size-base); color:var(--main_color); line-height: 28px; text-align: right; font-weight: 400; line-height: 1; justify-items: end; }
/* 01_01_greetings_end */

/* 01_02_vision_start */
.vision_cont h2 {font-size: var(--font-size-xl); letter-spacing: -0.025em; font-weight: bold;}
.mission {display: flex; flex-direction: column; justify-content: center; margin-top: -4px; }
.mission > img {width: 703px; align-self: center; margin-top: 4px;}
.happy {margin-top: 56px;}
.spell {display: flex; flex-direction: column; align-items: center;}
.spell img + p {font-size: var(--font-size-lg); color: var(--green); font-weight: bold; letter-spacing: -0.025em; padding-top: 17px;}
.spell p:last-of-type {font-size: var(--font-size-md); letter-spacing: -0.05em; font-weight: 400; padding-top: 16px;}

.vision {margin-top: 196px;}
.circle_diagram {position: relative;}
.circle_diagram > img {position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); margin-top: 40px;}
.circle {width: 300px; height: auto; aspect-ratio: 1/1; border-radius: 50%; display: flex; align-items: center; justify-content: center; flex-direction: column;}
.circle1 {background-color: #9dbd40; margin: 0 auto;}
.circle2 {background-color: #718a44;}
.circle3 {background-color: #ffc466;}
.circle1 h4 {color:#84ad10 ;}
.circle2 h4 {color:#4d6d15 ;}
.circle3 h4 {color:#ff9c00 ;}
.circle h4 {font-size: var(--font-size-xl); font-weight: 800; letter-spacing: -0.025em; text-align: center; padding-bottom: 17px;}
.circle p {font-size: var(--font-size-md); font-weight: 500; letter-spacing: -0.025em; text-align: center; color: var(--white_color); line-height: 30px;}
.bottom_circle {display: flex; justify-content: center; gap: 51px;}

.values {margin-top: 196px; padding-bottom: 59px;}
.values > div {display: flex; gap: 95px; margin-top: 59px;}
.values_card {flex: 1; border: 2px solid #bed480; display: flex; flex-direction: column; height: 397px; padding: 46px 0; justify-content: space-between;}
.values_card > span {font-size: 50px; color: var(--green); font-weight: bold; letter-spacing: -0.025em; text-align: center; line-height: 1.25;} 
.img_wrap {align-self: center;}
/* 01_02_vision_end */

/* 01_03_directions_start */
/* 01_03_directions_end */

/* 02_01_facility_start */
.facility_ttl {margin-top: 140px;}
.facility_ttl h2 {font-size: var(--font-size-xl); color: var(--white_color); background-color: #4d6d15; font-weight: bold; letter-spacing: -0.05em; line-height: 70px; display: block; max-width: 625px; text-align: center; }
.facility_ttl p {font-size: var(--font-size-base); font-weight: 400; letter-spacing: -0.025em; line-height: 26px; margin-top: 36px;}
.facility_gallery {margin-top: -5px; padding-bottom: 59px;}
.facility_item {margin-top: 139px;}
.facility_item h4 {font-size: var(--font-size-md); font-weight: bold; letter-spacing: -0.025em; color: var(--green); margin-top: 37px;}
.facility_item h4:last-of-type {margin-top: 98px;}
.facility_item p {font-size: var(--font-size-base); font-weight: 400; letter-spacing: -0.025em; line-height: 26px; margin-top: 15px;}
.facility_grid {display: grid; gap: 30px; grid-template-columns: repeat(4, 1fr); grid-template-rows: repeat(2, 400px); }
.facility_grid img:nth-child(1) {grid-column: 1 / span 2;}
.facility_grid img:nth-child(2) {grid-column: 3 / span 2;}
.facility_grid img:nth-child(3) {grid-column: 1 / span 2;}
.facility_grid img:nth-child(4) {grid-column: 3 / span 1;}
.facility_grid img:nth-child(5) {grid-column: 4 / span 1;}
.facility_grid, .facility_flex {margin-top: 26px;}
.facility_flex {display: flex; flex-wrap: wrap; gap: 30px; overflow: hidden;}
.facility_flex > img {height: 400px;}
.facility_item:nth-child(2) h3 {margin-top: -2px; padding-bottom: 9px;}
.facility_item:nth-child(3) .facility_flex {margin-top: 27px;}
.facility_item:nth-child(4) h3 {line-height: 41px; padding-bottom: 8px;}
.facility_item:nth-child(5) h3 {line-height: 40px; padding-bottom: 8px; margin-top: -1px;}
.facility_item:nth-child(6) h3 {line-height: 40px; padding-bottom: 9px; margin-top: -1px;}
.facility_item:nth-child(7) h3 {line-height: 40px; padding-bottom: 13px; margin-top: -1px;}
.facility_item:nth-child(n+8) h3 {line-height: 40px; padding-bottom: 14px; margin-top: -2px;}
/* 02_01_facility_end */

/* 03_01_target_start */
.target ul li::before {content: url(/assets/imgs/sub/disc_sq.png); position: absolute; left: 0; top: -3px;}
.target li {font-size: var(--font-size-base); line-height: 37px; font-weight: 400; position: relative;}
.eligiblity {margin-top: -4px;}
.eligiblity ul {margin-top: 49px;}
.eligiblity ul li {line-height: 36px; padding-left: 30px;}
.eligiblity ul li:nth-child(2)::before {top: -2px;}
.procedure {margin-top: 188px;}
.procedure .flex_list {display: flex; margin-top: 83px;}
.flex_item {display: flex; flex-direction: column; align-items: center; position: relative;}
.procedure .flex_item > .img_wrap {height: 190px; margin-bottom: 20px;}
.procedure .flex_item img {margin-top: auto;}
.procedure .flex_item:nth-child(1) {width: 256px;}
.procedure .flex_item:nth-child(4) {width: 256px;}
.procedure .flex_item:nth-child(1) span::before {width: 0;}
.procedure .flex_item:nth-child(4) span::after {width: 0;}
.procedure .flex_item:nth-child(2) {width: 384px;}
.procedure .flex_item:nth-child(3) {width: 384px;}
.procedure .flex_item span {color: var(--white_color); background-color: var(--green); line-height: 34px; padding: 0 20px 2px 20px; border-radius: 18px; margin-bottom: 12px;}
.procedure .flex_item:nth-child(n+2) p {margin-top: -1px;}
.procedure .flex_item span::after {content: ""; height: 5px; background-color: var(--green); position: absolute; width: 50%; margin-top: 18px;}
.procedure .flex_item span::before {content: ""; height: 5px; background-color: var(--green); position: absolute; width: 50%; margin-top: 18px; left: 0; z-index: -2;}
.procedure .flex_item p {color: var(--gray_color); line-height: 26px; text-align: center; }
.prepare {margin-top: 194px;}
.pre_inn {display: flex; margin-top: 58px;}
.pre_inn > div {flex: 1;}
.pre_list_item li {padding-left: 25px; line-height: 36px;}
.pre_list_item ul {margin-top: 20px;}
.pre_list_item:nth-child(2) > p {margin-top: 51px; margin-bottom: -6px;}
.pre_list_item:nth-child(2) li {line-height: 48px; }
.pre_img_wrap {position: relative;}
.pre_img_inn {position: absolute; bottom: 0; left: 0;}
/* 03_01_target_end */

/* 03_02_fee_start */
.fee {margin-top: -4px; padding-bottom: 58px;}
.circle_icon {display: flex; margin-top: 2px;}
.fee_inn > h4 {color: #4d6d15; font-size: var(--font-size-lg); font-weight: bold; letter-spacing: -0.025em; line-height: 108px; text-align: center;}
.circle_fee{flex: 1; text-align: center; height: auto; aspect-ratio: 1/1; border-radius: 50%; align-items: center; display: flex; flex-direction: column; position: relative;}
.circle_fee::before {content: url(/assets/imgs/sub/fee_circle.png); position: absolute; top: 50%; left: 0; transform: translate(-13px, -50%);}
.circle_fee:nth-child(odd) {background: url(/assets/imgs/sub/fee1_1.png) center center/cover; }
.circle_fee:nth-child(even) {background: url(/assets/imgs/sub/fee1_2.png) center center/cover; }
.circle_fee p {line-height: 26px; padding-top: 20px;}
.circle_fee p span {color: var(--gray_color);}
.circle_fee .img_wrap {position: relative; height: 50%; flex-grow: 0; width: 100%; top: 0;}
.circle_fee img {position: absolute; bottom: 3px; left: 50%; transform: translateX(-50%);}
/* 03_02_fee_end */

/* 03_03_consulation_start */
.consultion {margin-top: -4px;padding-bottom: 61px;}
.form_desc {font-size: 16px; font-weight: 400; letter-spacing: -0.025em; line-height: 24px;}
.consultion .b_btn {background-color: var(--green); width: 400px; height: 60px; border: 1px solid var(--green); font-size: var(--font-size-extrabase);}
.consultion .btn_wrap {display: flex; justify-content: center; margin-top: 109px;}
.consultion .btn_wrap .b_btn span {color: var(--white_color); font-weight: 600; letter-spacing: 0;}
.consule_form {border-top: 1px solid #222222; margin-top: 39px; margin-bottom: 10px;}
.consule_form > div {border-bottom: 1px solid #dddddd; display: flex; align-items: center; gap: 16px;}
.consule_form > div > label {background-color: #edf3db; width: 300px; display: block; height: 100%; text-align: center; line-height: 80px;}
.consule_form > div > input {border: 1px solid #dddddd; height: 47px; padding: 10px 0px 10px 12px; width: 365px;}
.consule_form > div {height: 80px;}
.consule_form > div:nth-child(3) {height: 160px;}
.consule_form > div:nth-child(3) > label {line-height: 160px;}
.consule_form > div:nth-child(3) > input {height: 126px; margin: -1px 16px 0 0; flex: 1;}
.consultion .chk_wrap {margin-top: 30px; display: flex; align-items: center; position: relative;}
.chck_wrp {display: block; position: relative; padding-left: 69px; cursor: pointer; font-size: 16px; font-weight: 400; letter-spacing: -0.025em; margin-top: 38px; border-bottom: 1px solid #dddddd; padding-bottom: 18px;}
.chck_wrp input {position: absolute;opacity: 0; cursor: pointer; height: 0; width: 0;}
.checkmark {position: absolute; top: -1px; left: 43px; height: 20px; width: 20px; background-color: #fff; border: 1px solid #999999; border-radius: 2px;}
.chck_wrp input:checked ~ .checkmark {background-color: var(--green);}
.checkmark:after {content: "";position: absolute;display: none;}  
.chck_wrp input:checked ~ .checkmark:after {display: block;}
.chck_wrp .checkmark:after {left: 7px; top: 3px; width: 5px; height: 10px; border: solid white; border-width: 0 3px 3px 0; -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg); transform: rotate(45deg);}
/* 03_03_consulation_end */

/* 03_05_insurance_start */
.insurance {margin-top: -1px; padding-bottom: 7px;}
.insure_ttl {display: flex; justify-content: space-between;}
.insure_ttl h3,.insurance_h3 {background-color: #4d6d15; color: var(--white_color); display: inline-flex; gap: 15px; padding-right: 13px; padding: 14px 13px 16px 15px; }
.insure_ttl h3::before {content: url(/assets/imgs/sub/insurance1.png);}
.insure_ttl p {color: var(--white_color); background-color: var(--green); height: 45px; display: inline-flex; align-items: center; gap: 20px; padding: 0 34px 0 43px; align-self: flex-end; margin-right: 27px; line-height: 45px; margin-bottom: -1px;}  
.insure_ttl p::after {content: url(/assets/imgs/sub/arr.png);}
.insure_ttl + p { line-height: 28px; margin-top: 34px; letter-spacing: -0.01em;}
.insure_step > h3 {margin-top: 145px;}
.feature_elderly + p {margin-top: 33px; line-height: 28px; letter-spacing: 0.03em;}
.green_color.base {margin-top: 19px; line-height: 1;}
.green_color.base + h3 {line-height: 0.7;}
li {position: relative;}
li::before {content: url(/assets/imgs/sub/disc_sq.png); position: absolute; left: 6px; top: -5px;}
.elderly_insurance {margin-top: 54px;}
.elderly_insurance li {line-height: 36px; padding-left: 30px;}
.elderly_insurance li span {font-weight: bold; width: 108px; display: inline-block;}
.elderly_insurance + h3 {line-height: 7px;}
.insurance .flex_list { gap: 102px; display: flex; margin-top: 74px;}
.insurance .flex_item, .job_info .flex_item {flex: 1; display:flex; border:5px solid var(--green); border-radius: 20px; position: relative; padding: 35px 0; gap: 30px; justify-content: space-between;}
.insurance .flex_item::after {content: url(/assets/imgs/sub/angle-right-solid\ 복사.png); position: absolute; right: -24px; top: 50%; transform: translate(60px, -50%);}
.insurance .flex_item:last-child:after {display: none;}
.insurance .flex_item span, .job_info .flex_item span {color: #4d6d15; font-size: var(--font-size-lg); font-weight: bold; letter-spacing: -0.05em; position: relative; display: inline-block;}
.insurance .flex_item span::after,  .job_info .flex_item span::after { content: ""; position: absolute; width: 100%; background-color: #e3f49e; height: 9px; bottom: 1px; left: 0; z-index: -1;}
.insurance .flex_item span + p {font-size: var(--font-size-md); font-weight: bold; letter-spacing: -0.05em; line-height: 28px; text-align: center;}
.insurance .flex_item .base {font-weight: 300; line-height: 30px; padding-top: 2px;}
.insurance .insurance_h3 {margin-top: 137px; padding:12px 13px 18px 15px ;}
.insurance_h3::before {content: url(/assets/imgs/sub/insurance2.png);}
.insure_list_criteria p {font-size: var(--font-size-lg); font-weight: bold; letter-spacing: -0.05em; margin-top: 59px; line-height: 1;}
.insure_list_criteria li span {font-size: var(--font-size-base); font-weight: 400; color: var(--green);}
.benefit p {padding-top: 40px;}
.benefit ul {margin-top: 38px;}
.benefit li::before {top: 2px; left: 14px;} 
.benefit li span{padding-left: 38px;} 
.table_wrap {border-top: 2px solid #222222; text-align: center; width: 100%; margin-top: 30px;}
table {width: 100%;}
thead {background-color: #edf3db; height: 81px;}
tbody tr {height: 80px;}
tbody tr:nth-child(1) {height: 81px;}
tbody tr:nth-child(5) td {padding-bottom: 3px;}
tbody tr td:nth-child(2) {text-align: left; padding-left: 101px;}
.benefit table {margin-bottom: 59px;}
.benefit tbody tr td:nth-child(2) {text-align: left; padding-left: 40px; line-height: 28px;}
.benefit tbody tr:nth-child(1) {height: 98px;}
.benefit tbody tr {height: 100px; }
tr {border-bottom: 2px solid #dddddd;}
colgroup col {border-right: 1px solid #dddddd;}
colgroup col:last-child {border: 0;}
/* 03_05_insurance_end */

/* 04_01_medical_nurse_start */
.medical, .support, .treatment {margin-top: -5px; padding-bottom: 59px;}
.flex_reverse_list {display: flex; flex-direction: column; margin-top: 100px;}
.flex_reverse {display: flex; margin-bottom: 1px;}
.flex_reverse > * {flex: 1;}
.flex_reverse > img {width: 100%; aspect-ratio: 640 / 361; height: auto; position: relative; display: inline-block;}
.flex_reverse > img::after {position: absolute; content: ""; width: 100px; height: 100px; background-color: #0000001a; top: 0; left: 0;}
.flex_reverse:nth-child(even) {flex-direction: row-reverse;}
.flex_txt_wrap {padding-left: 60px; display: flex; flex-direction: column; justify-content: center; gap: 31px; padding-bottom: 20px;} 
.flex_txt_wrap p {font-size: var(--font-size-lg); font-weight: bold; line-height: 0.3;}
.flex_reverse:nth-of-type(2) .flex_txt_wrap {padding-bottom: 7px; gap: 32px;}
.flex_reverse:nth-of-type(3) .flex_txt_wrap {padding-bottom: 9px; gap: 34px;}
.flex_txt_wrap li {font-size: var(--font-size-extrabase); font-weight: 400; letter-spacing: -0.025em; line-height: 34px; padding-left: 18px;}
.flex_txt_wrap li::before {left: 0;}
/* 04_01_medical_nurse_end */

/* 04_03_support_start */
.support .flex_txt_wrap p {line-height: 44px;}
/* 04_03_support_end */

/* 05_01_notice_list_start */
.notice_list, .job_list {padding-top: 29px; padding-bottom: 59px;}
input, select {border: 1px solid #bbbbbb; font-size: var(--font-size-extrasm); font-weight: 400; letter-spacing: -0.025em;}
select option {font-size: var(--font-size-extrasm); font-weight: 400; letter-spacing: -0.025em;}
input:active, select:active, input:focus, select:focus {border: 1px solid #222222;} 
.filter {display: flex; gap: 10px; justify-content: flex-end;}
.filter select {width: 130px; height: 40px; padding: 0 11px; display: inline-flex; position: relative; font-weight: 400;}
select::after {content: url(/assets/imgs/sub/chevron-down-solid.png); width: 10px; height: 10px; display: block; position: absolute; }
.search_wrap {display: flex; width: auto;}
#search {width: 218px;}
.search_wrap button {width: 80px; background-color: #555555; color: var(--white_color); font-size: var(--font-size-extrasm); font-weight: 400; letter-spacing: -0.025em;}
.notice_table colgroup col, .job_list_table colgroup col {border: 0;}
.notice_table, .job_list_table {margin-top: 10px; font-size: var(--font-size-extrasm); font-weight: 400; letter-spacing: -0.025em;}
.notice_table thead, .job_list_table thead  {background-color: transparent; height: 59px;}
.notice_table thead tr,.job_list_table thead tr {border-width: 1px; border-color: #bbbbbb; font-size: var(--font-size-extrasm); font-weight: 400; letter-spacing: -0.025em;}
.notice_table tbody tr, .job_list_table tbody tr {border-width: 1px; height: 60px; border-color: #bbbbbb; }
.notice_list tbody tr td:nth-child(2), .job_list_table tbody tr td:nth-child(2)  {text-align: left; padding-left: 13px; padding-top: 1px; font-weight: 500;}
.notice_list tbody tr td:nth-child(1), .job_list_table tbody tr td:nth-child(1) {padding-top: 1px; color: #555555;}
.green_bg {color: var(--white_color); background-color: var(--green); padding: 0px 13px 2px 11px;}
.write {width: 100px; height: 40px; background-color: var(--green); margin-top:11px; color: var(--white_color); display: block; text-align: center; line-height: 40px; margin-left: auto; font-size: var(--font-size-extrasm); font-weight: 400;}
/* 05_01_notice_list_end */

/* 05_02_notice_dtl_start */
.dtl_head {border-top: 2px solid #222222; border-bottom: 1px solid #bbbbbb; padding: 0 20px; height: 83px; align-items: center;}
.dtl_head > div {font-size: var(--font-size-extrasm); font-weight: 400; letter-spacing: -0.025em; color: #555555; display: flex; gap: 35px;}  
.dtl_ttl {font-size: var(--font-size-extrabase); font-weight: 400; line-height: 83px;}
.filename_wrap {display: flex; justify-content: end; padding: 14px 11px 18px 11px; gap: 9px;}
.filename_wrap p {font-size: 14px; text-decoration: underline; text-decoration-color: #222222; text-decoration-thickness: 1px; color: #000000; font-weight: 400; line-height: 26px;}
.filename_wrap span {border: 1px solid #bbbbbb; font-size: 12px; font-weight: 400; color: #555555; display: inline-flex; gap: 6px; padding: 1px 7px 0 9px; line-height: 24px;}
.filename_wrap span::after {content: url(/assets/imgs/sub/download.png); position: relative; top: 2px;}
.notice_dtl {font-size: var(--font-size-extrasm); font-weight: 400; letter-spacing: -0.025em; line-height: 28px; margin-top: 20px; padding-bottom: 24px; border-bottom: 1px solid #bbbbbb;}
/* 05_02_notice_dtl_end */

/* 05_03_notice_write_start */
.notice_write, .notice_detail {padding-top: 29px; padding-bottom: 60px;}
.ann_title {display: flex; border-top: 2px solid #222222; padding: 15px 23px 14px 10px;  align-items: center; border-bottom: 1px solid #bbbbbb;}
.ann_title .chk_outer {display: flex; flex-direction: row;}
.ann_title .chck_wrp {border: 0; margin: 0; height: 50px; line-height: 47px; padding: 0;}
.ann_title .chck_wrp:nth-child(1) {padding-left: 65px;}
.ann_title .chck_wrp:nth-child(2) {padding-left: 47px;}
.ann_title .chck_wrp:nth-child(1) .checkmark {left: 39px;}
.ann_title .chck_wrp:nth-child(2) .checkmark {left: 21px;}
.ann_title .checkmark {top: 50%; transform: translateY(-50%);}
.ann_title > input {max-width: 1000px; height: 51px; width: 100%; font-size: var(--font-size-extrabase); font-weight: 400; padding-left: 20px; border-color: #dddddd; padding-top: 4px;}
.ann_title > input::placeholder {color: #bbbbbb;}
.editor_wrap {padding: 0 10px; border-bottom: 1px solid #bbbbbb; padding-bottom: 19px;}
.ck.ck-editor {margin-top: 19px;}
.ck-editor__editable_inline {min-height: 463px}
.notice_write .btn_wrap, .notice_detail .btn_wrap {display: flex; gap: 10px; justify-content: center; margin-top: 70px;}
/* 05_03_notice_write_end */

/* 05_05_01_job_info_start */
.job_info {padding-bottom: 58px;}
.job_info h3 {line-height: 1; margin-top: 140px;}
.job_info .green_icon {line-height: 68px; background-color: #4d6d15; color: var(--white_color); padding: 0px 8px 2px 8px; display: inline-flex; gap: 13px; align-items: center; margin-top: -1px;}
.green_icon + p {font-size: var(--font-size-lg); font-weight: 500; line-height: 28px; letter-spacing: -0.025em; margin-top: 39px; margin-bottom: -2px;}
.green_icon::before{content: url(/assets/imgs/sub/jobList1.png); position: relative; top: -4px;}
.volunteer {font-size: var(--font-size-base); font-weight: 400; letter-spacing: -0.025em; line-height: 28px; margin-top: 27px; margin-bottom: -6px;}
.vol_quali {margin-top: 30px; margin-bottom: -9px;}
.participate_vol {margin-top: 31px;}
.job_info .vol_quali li {line-height: 35px;}
.job_info li {font-size: var(--font-size-base); font-weight: bold; line-height: 36px; padding-left: 31px;}
.job_info .flex_list {display: flex; gap: 58px; margin-top: 50px; margin-bottom: -3px;}
.job_info .flex_item {padding: 25px 0 21px 0; gap: 0; justify-content: flex-start;}
.job_info .flex_item span + p {font-size: var(--font-size-extrabase); font-weight: bold; letter-spacing: -0.075em; line-height: 28px; text-align: center; margin-top: 31px; margin-bottom: 6px;}
.job_info .flex_item .base {font-size: var(--font-size-extrasm);}
.job_info .flex_item::after {content: url(/assets/imgs/sub/jobList2.png); position: absolute; right: 0px; top: 50%; transform: translate(45px, -50%);}
.job_info .flex_item:last-child:after {display: none;}
.rec_policy {margin-top: 31px; margin-bottom: -9px;}
.rec_inquiry {font-size: var(--font-size-lg); font-weight: bold; letter-spacing: -0.05em; line-height: 44px; margin-top: 32px; margin-bottom: -4px;}
.rec_inquiry span {background-color: #4d6d15; color: var(--white_color); padding: 0 5px; font-size: var(--font-size-xl); height: 44px ; display: inline-block; position: relative; top: 2px;}
.job_table {margin-top: 37px;}
.job_table thead {height: 81px;}
.job_table tbody tr td:last-child {text-align: left; padding-left: 50px;}
.job_table tbody tr td:nth-last-child(2) {text-align: center; padding: 0;}
.job_table tbody tr:nth-child(1) {height: 78px;}
.job_table tbody tr:last-child {border-bottom: 3px solid #000000;}
/* 05_05_01_job_info_end */

/* 05_05_02_job_list_start */
.job_list_table tbody tr td:nth-child(n+4) {color: #666666;}
/* 05_05_02_job_list_end */

/* 05_05_03_job_detail_end */
.job_detail {padding-top: 29px; padding-bottom: 60px;}
.job_detail_ttl {border-top: 2px solid #000000; border-bottom: 1px solid #bbbbbb; height: 83px; padding: 20px;}
.job_detail_ttl > p {font-size: var(--font-size-extrabase); font-weight: 500; line-height: 40px;}
.ttl_info {display: flex; align-items: center; gap: 33px;}
.ttl_info > p {font-size: var(--font-size-extrasm); font-weight: 400; color: #555555; padding-bottom: 2px;}
.job_dtl_cont1 {padding: 20px;}
.job_dtl_cont1 > p {text-align: center; font-size:var(--font-size-md); font-weight: bold; line-height: 40px; padding-bottom: 20px;}
.rec_fields {font-size: var(--font-size-base); font-weight: 400; padding-top: 15px;}
.flex_desc {margin-top: 19px; border-top: 1px solid #dddddd;}
.row {display: flex; border-bottom: 1px solid #dddddd; min-height: 59px;}
.row p:first-child {background-color: #edf3db; width: 302px; text-align: center; line-height: 59px;}
.row p:nth-child(2) {padding-left: 20px; line-height: 59px;}
.row:last-child p:nth-child(2) {line-height: 28px; padding: 16px 20px 17px; }
.job_dtl_cont2 {border-top: 1px solid #bbbbbb; padding-top: 64px;}
.inputs {display: flex;justify-content: space-between; align-items: center;}
.inputs input {width: 151px; height: 47px; }
.job_form {display: flex; border-top: 1px solid #dfdfdf; margin-top: 18px; gap: 30px; justify-content: space-between; align-items: center; position: relative; border-bottom: 1px solid #dfdfdf;}
.job_form::after {content: ""; width: 100%; height: 1px; background-color: #3f3f3f; display: block; position: absolute; top: 0;}
.job_form input {margin: 16px; border-color: #dddddd;}
.job_form form {flex: 1;}
.job_form .input_wrap {display: flex; border-bottom: 1px solid #dfdfdf; height: 80px;}
.job_form .input_wrap:last-child {border: 0;}
.job_form .input_wrap:first-child input {height: 47px; width: 364px;}
.job_form .input_wrap label {width: 301px; background-color: #eeeeee; text-align: center; line-height: 77px;}
.job_form .b_btn.outline {border-color: var(--green); color: var(--green); width: 220px; height: 120px; font-weight: 600; border-radius: 5px;}
.job_detail .write {margin-right: auto; margin-top: 70px; height: 45px; width: 120px;}
.spacer {width: 15px; height: 2px; background-color: #dddddd;}
/* 05_05_03_job_detail_end */

/* 05_05_04_recruitment_start */
.recruitment {margin-top: -14px; padding-bottom: 60px;}
.recruitment > h3 {text-align: center; line-height: 60px; display: block; font-weight: 400;}  
.care_flex {display: flex; flex-direction: column; gap: 30px; margin-top: 70px;}
.care_item {display: flex; align-items: center; gap: 30px;}
.care_item > p {line-height: 28px; padding-bottom: 2px;}
.care_circle {display: flex; align-items: center; gap: 18px; border: 1px solid; border-radius: 60px; max-width: 304px; min-height: 120px; width: 100%;}
.care_circle img {padding-left: 50px; padding-top: 2px;}
.care_txt {font-size: var(--font-size-md); font-weight: bold; line-height: 28px;}
.care_txt p {line-height: 36px;}
.recruitment .b_btn {width: 230px; height: 60px; margin-left: auto; display: block; margin-right: auto; margin-top: 80px;} 
.care_item:nth-child(1) .care_circle {border-color: #ff825b;}
.care_item:nth-child(1) .care_circle span {color: #ff825b;}
.care_item:nth-child(2) .care_circle {border-color: #ffa435;}
.care_item:nth-child(2) .care_circle span {color: #ffa435;}
.care_item:nth-child(3) .care_circle {border-color: #ffc53b;}
.care_item:nth-child(3) .care_circle span {color: #ffc53b;}
.care_item:nth-child(4) .care_circle {border-color: #9ecd29;}
.care_item:nth-child(4) .care_circle span {color: #9ecd29;}
/* 05_05_04_recruitment_end */